<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ALT SONYA | RETOUCH</title>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link rel="stylesheet" href="css/main.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato|Montserrat|Nunito|Open+Sans|Raleway:400,500,600|Roboto" rel="stylesheet">
 <script src="https://use.fontawesome.com/dbddf1e577.js"></script>
  </head>
  <body>
  <header>
    <div class="logo">
        <a href="index.html">ALT SONYA | RETOUCHING</a>
    </div>
    <menu>
        <li><a href="index.html">Portfolio</a></li>
        <li><a href="about.html">Contact</a></li>
        <li><a class="social" target="_blank" href="https://www.instagram.com/sonya_retoucher/">
                <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a class="social" target="_blank" href="https://www.facebook.com/people/Sophie-Pirskaya/100011382894371">
                <i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    </menu>
      </header>

